@(message: String)

@main("Welcome to Play") {

    @helper.form(action = routes.Application.submit()) {
        <input name="key" placeholder="Kimono Key" value=""><br>
        <input name="url" placeholder="API url" value=""><br>
        <button>submit</button>
    }

}
